.header {
    padding: 2vw;
    color: #ffffff;
    background-color: darkblue;
    width: 100%;
    margin-bottom: 0.5vw;
  }
  
  .title {
    width: 100%;
    text-align: center;
    font-size: 3rem;
    text-decoration: underline;
    color: white;
    margin-bottom: 2vw;
    font-weight: bolder;
  }